[Unit]
Description=consul agent
Requires=network-online.target
After=network-online.target

[Service]
Environment=GOMAXPROCS=2
Restart=on-failure
ExecStart=/usr/local/bin/consul agent -server -data-dir=/var/opt/consul -client=0.0.0.0 -datacenter=rpi -bootstrap-expect=1 -ui -dev
ExecReload=/bin/kill -HUP $MAINPID
ExecStop=/usr/local/bin/consul leave
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
